<div class="above">
  <h1 class="above-title">𝓣𝓱𝓪𝓷𝓴𝓼 𝓬𝓪𝓻𝓭 𝓼𝓸𝓬𝓲𝓪𝓵𝓼</h1>
  <p class="above-text">𝓙𝓸𝓲𝓷 𝓽𝓱𝓮 𝔀𝓸𝓻𝓵𝓭'𝓼 𝓵𝓪𝓻𝓰𝓮𝓼𝓽 𝓬𝓸𝓶𝓶𝓾𝓷𝓲𝓽𝔂</p>

  <div class="eyes">
    <div class="eye">
      <div class="ball"></div>
    </div>
    <div class="eye">
      <div class="ball"></div>
    </div>
  </div>
</div>