<div class="above">
  <h1 class="above-title">Thanks card socials</h1>
  <p class="above-text">Join the world's largest community</p>
  <div class="eyes">
    <div class="eye">
      <div class="ball"></div>
    </div>
    <div class="eye">
      <div class="ball"></div>
    </div>
  </div>
</div>
