.center{
  display: flex;
  .card{
    flex: 2;
  }
  .card-list{
    flex: 1;
    margin-left: 30px;
    .card-list-item{
      position: relative;
      margin-top: 18px;
      width: 100%;
      height: 200px;
      border: 1px solid #ccc;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .card-list-inside{
        position: absolute;
        display: flex;
        font-family: 'Oleo Script Swash Caps', cursive;
        justify-content: center;
        word-break: break-all;
        text-align: center;
        width: 200px;
        height: 70px;
        font-size: 0.6rem;
        background-image: url();
        background-color: transparent;
      }
    }
  }
}

.center-show{
  width: 1200px;
  margin: 0 auto;
  height: 100vh;
  .show{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-list-item-show{
    position: relative;
    width: 680px;
    height: 380px;
    border: 1px solid #ccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .card-list-inside-show{
      position: absolute;
      display: flex;
      font-family: 'Oleo Script Swash Caps', cursive;
      justify-content: center;
      word-break: break-all;
      text-align: center;
      width: 200px;
      height: 70px;
      font-size: 0.6rem;
      background-image: url();
      background-color: transparent;
    }
  }
  .info{
    margin-left: 20px;
    line-height: 2.2rem;
    .button{
      display: flex;
      > a{
        display: block;
        width: 100px;
        text-align: center;
        border: 1px solid black;
        color: black;
        text-decoration: none;
        margin-top: 20px;
        border-radius: 10px;
      }
      > a:nth-child(2){
        margin-left: 10px;
      }
    }
  }
}
