.post-main{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
}

.post{
  width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 100px;
  background-color: #fff;
  z-index: 999999;
}

.to-member, .template{
  display: flex;
  align-items: center;
}

.to-member > select, .template > select{
  width: 120px;
  height: 26px;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.to-member > label, .template > label{
  margin: 10px 14px 10px 0;
}

.template{
  margin: 14px 0;
}

.title-post{
  display: flex;
  flex-direction: column;
}

.title-time{
  padding: 10px;
  color: #9b9b9b;
  font-size: 0.9rem;
  letter-spacing: .2px;
}
.comment-count{
  padding: 10px;
  color: #9b9b9b;
  font-size: 0.9rem;
  letter-spacing: .2px;
}

.title-post > label{
  margin: 10px 0;
}

.title-post > textarea{
  border: 1px solid #ccc;
  height: 140px;
  padding: 5px;
}

.submit-feed{
  display: flex;
  justify-content: flex-end;
  margin: 18px 0 0 0;
}

.submit-feed > input{
  width: 100px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #0095f6;
  color: #fff;
  cursor: pointer;
}

.submit-feed > input:hover{
  background-color: #007fd4;
}

.presently{
  display: block;
}

.center-user{
  width: 1200px;
  margin: 0 auto;
  margin-top: 110px;

  form{
    display: flex;
    flex-direction: column;

    > input{
      height: 20px;
      border-radius: 10px;
      border: 1px solid #ccc;
      padding: 10px;
      outline: none;
      margin: 22px 0;
    }

    > input[type="submit"]{
      height: 40px;
      border-radius: 10px;
      border: 1px solid #ccc;
      padding: 10px;
      outline: none;
      margin: 22px 0;
      cursor: pointer;
    }
  }
  .profile{
    display: flex;
    position: relative;

    .profile-avatar > img{
      border-radius: 50%;
    }
  }

  .profile::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    bottom: -10px;
  }

  .profile-right{
    margin-left: 100px;
    font-size: 1.4rem;
    .profile-post{
      margin: 22px 0;
      p{
        font-size: 1rem;
      }
    }

    .profile-title{
      display: flex;
      align-items: center;
        .profile-submit > a{
          display: flex;
          border: 1px solid #ccc;
          width: 185px;
          height: 30px;
          cursor: pointer;
          margin-left: 22px;
          text-decoration: none;
          color: black;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          border-radius: 10px;
        }
    }
    .profile-title > form{
      margin: 0;
    }
  }
}

.feed-main{
  width: 100vw;
  height: 100vh;
  margin-top: 100px;
}
.feed{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.above-section{
  position: relative;
  flex: 1;
}
.above-section::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #efefef;
}
.feed-section-left-all{
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px 0;
}
.feed-section_left{
  width: 682px;
  border: 1px solid #ccc;
  flex: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px 0;
  background-color: #fff;
  .above-section{
    .thankscard{
      .card-list-item-show{
        height: 382px;
        background-size: cover;
        background-position: center;
        position: relative;
        width: 682px;
      }
      .card-list-inside-show{
        font-family: 'Oleo Script Swash Caps', cursive;
        top: 276px;
        right: 24px;
        bottom: 16px;
        left: 393px;
        position: absolute;
        width: 200px;
        height: 70px;
        text-align: center;
      }
    }
  }
}
.feed-section_right{
  flex: 1;
  padding: 18px;
}
.title{
  display: flex;
  align-items: center;
  padding: 10px;
}
.title > i{
  margin-left: 380px;
  color: #252525;
  font-size: 1.6rem;
}
.title .title-text{
  color: #252525;
  margin-left: 14px;
}
.title-avatar-to{
  --b:2px;

  color: #313149;
  display: inline-block;
  width: 42px;
  height: 42px;
  aspect-ratio: 1;
  position: relative;
  z-index: 0;
}

.title-avatar{
  --b:2px;

  color: #313149;
  display: inline-block;
  width: 42px;
  height: 42px;
  aspect-ratio: 1;
  position: relative;
  z-index: 0;
}
.title-avatar::before,
.title-avatar-to::after{
  content:"";
  position:absolute;
  z-index:1;
  inset: 0;
  background: var(--c,linear-gradient(to right, red, orange));
  padding: var(--b);
  border-radius: 50%;
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
          mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}
.title-avatar > img{
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.title-avatar-to > img{
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.thankscard > img{
  width: 100%;
}
.icons-feed{
  margin: 10px 0;
  display: flex;
  align-items: center;
  > form{
    width: 28px;
    height: 28px;
    margin-top: 10px;
    margin-left: 10px;
    > button{
      background: none;
      border: none;
      width: 28px;
      height: 28px;
      cursor: pointer;
      > span{
        font-size: 28px;
      }
    }
  }
}
.like{
  font-size: 14px;
  padding: 10px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: 600;
}
.icons-feed > svg{
  font-size: 1.8rem;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 16px;
  color: #252525;
}
.icons-feed > span{
  font-size: 1.8rem;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 16px;
  color: #ed4956;
}
.icons-feed > svg.active{
  font-size: 1.8rem;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 16px;
  fill: #ed4956;
}
.icons-feed > a{
  svg{
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 16px;
    color: #252525;
  }
}
.comment{
  display: flex;
  align-items: end;
  padding: 10px;
  height: 40px;
  flex: 1;
}
.comment-flex{
  display: flex;
  align-items: center;
  flex: 1;
  > form{
    display: flex;
    align-items: center;
    width: 100%;
    > span{
      flex: 1;
      font-size: 1.8rem;
      color: #252525;
    }
    #comment_comment{
      flex: 12;
      border: none;
      outline: none;
    }
    #comment{
      flex: 12;
      border: none;
      outline: none;
    }
    .add{
      flex: 1;
      border: none;
      background-color: transparent;
      color: #0095f6;
      font-weight: 900;
      cursor: pointer;
    }
  }
}
.comment-flex > span{
  flex: 1;
  font-size: 1.8rem;
  color: #252525;
}
.comment-flex > input{
  flex: 12;
  border: none;
  outline: none;
}
.comment-flex > a{
  text-decoration: none;
  color: #0095f6;
  font-weight: 800;
  font-size: 1rem;
}
.messenger{
  padding: 0 10px;
}
.messenger > p{
  font-family: 'Oleo Script Swash Caps', cursive;
}
.tag_name{
  padding: 0 10px;
  margin: 0 0 10px 0;
}
.feed-section_right{
  position: fixed;
  right: 450px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
}
.feed-section_right-header{
  display: flex;
  align-items: center;
}
.feed-section_right-img > img{
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.feed-section_right-section-title > p{
  color: #9b9b9b;
}
.feed-section_right-text > p{
  margin-left: 18px;
}
.feed-section_right-text > p:nth-child(1){
  font-size: 0.9rem;
  font-weight: 900;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
}
.feed-section_right-text > p:nth-child(2){
  font-size: 0.9rem;
  color: #9b9b9b;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
}
.feed-section_right-section{
  margin: 10px 0;
}
.feed-section_right-section > a{
  text-decoration: none;
  color: black;
  font-weight: 900;
}
.feed-section_right-section-another{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.feed-section_right-img-section > img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.feed-section_right-text-section > p{
  margin-left: 18px;
}
.feed-section_right-text-section > p:nth-child(1){
  font-size: 0.9rem;
  font-weight: 900;
}
.feed-section_right-text-section > p:nth-child(2){
  font-size: 0.9rem;
  color: #9b9b9b;
}

.pagination{
  display: flex;
  list-style: none;
  margin-top: 20px;
  color: black;
  cursor: pointer;
  li{
    // margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    a{
      text-decoration: none;
      color: black;
    }
  }
}
.show-right{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  .comment-user{
    flex: 10;
  }
  .comment{
    position: relative;
    justify-content: flex-end;
    flex: 1;
    border-radius: 10px;
  }
  .comment:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #efefef;
    top: 0;
    right: 0;
  }
}
.title-show{
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.title-show::before{
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #efefef;
  bottom: 0;
  left: 0;
}
.title-show > i{
  margin-left: 380px;
  color: #252525;
  font-size: 1.6rem;
}
.title-show .title-text{
  color: #252525;
  margin-left: 14px;
}

.center-show{
  .feed-section_left{
      .above-section::after {
        position: inherit;
    }
  }
  .title-text{
    margin-left: 10px;
  }
}

.story{
  border: 1px solid #ccc;
  height: 100px;
  width: 664px;
  border-radius: 10px;
  padding: 9px;
  display: flex;
  overflow-x: auto;
  align-items: center;
  .feed-section_right-section-another{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  .feed-section_right-img-section{
    > img{
      width: 66px;
      height: 66px;
    }
  }
  .feed-section_right-text-section{
    > p:nth-child(1){
      display: none;
    }
    > p:nth-child(2){
      width: 60px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.mask{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999;
}

.post-main{
  >form{
    animation: showForm linear .2s;
  }
}

.center-show{
  animation: showForm linear .2s;
}

@keyframes showForm {
  from{
    opacity: 0;
    transform: scale(2);
  }

  to{
    opacity: 1;
    transform: scale(1);
  }
}
